


e107_plugins/efiction/skins/*
e107_plugins/efiction/modules/*
e107_plugins/efiction/config.php
e107_plugins/efiction/*.bkp

 
e107_plugins/efiction/admin/featured.bak
e107_plugins/efiction/blocks/menu/en.bak
